In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import seaborn as sns

from konlpy.tag import Okt
from collections import Counter
from wordcloud import WordCloud

In [4]:
!gdown --id 1FGRnIop46rdBGof9w8X8snHuKC9gnBuo

/Users/seokyoung/anaconda3/lib/python3.11/site-packages/gdown/cli.py:126: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1FGRnIop46rdBGof9w8X8snHuKC9gnBuo
To: /Users/seokyoung/Desktop/PY202309-P/Sources/1992_2020_kpop.csv
100%|██████████████████████████████████████| 9.76M/9.76M [00:03<00:00, 3.16MB/s]

In [7]:
data = pd.read_csv("1992_2020_kpop.csv", engine='python',encoding='CP949')

train_data = pd.DataFrame(data)

In [8]:
train_data.head()

,년도,가수,제목,성별,장르,최고순위,작사,작곡,소속사,가사
0,19920000,잼,난 멈추지 않는다,mixed,댄스,1,조진호,조진호,DSP 미디어,이제 모든걸 다시 시작해 내겐 아직도 시간이 있어 때론 상처가 좌절로 남아 돌이킬수...
1,19920000,잼,우리 모두 사랑하자,mixed,댄스,7,조진수,조진수,DSP 미디어,워 우리 모두 사랑하자 우리의 젊은날을 위하여 우리 모두 춤을 추자 가벼운 인스텝 ...
2,19920000,잼,이유,mixed,발라드,0,조진호,조진호,DSP 미디어,어둠은 드리워지고 이제는 우리들만의 시간이 지친듯이 내 가슴속에 밀려와 나를 재우고...
3,19920000,잼,18번가의 비밀,mixed,댄스,0,조진호,조진호,DSP 미디어,끝없는 어둠 속을 천천히 걷고 있어 어디서 본 듯한 야릇한 느낌이야 거리는 비에 젖...
4,19920000,잼,요즘 친구들,mixed,댄스,0,조진수,조진호,DSP 미디어,요즘 친구들은 흥 정말 진정한 친구가 뭔지 잘 몰라 말로만 떠들고 자기들이 다만 그...

In [9]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7235 entries, 0 to 7234
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년도      7235 non-null   int64
 1   가수      7235 non-null   object
 2   제목      7235 non-null   object
 3   성별      7235 non-null   object
 4   장르      7235 non-null   object
 5   최고순위    7235 non-null   object
 6   작사      7194 non-null   object
 7   작곡      7183 non-null   object
 8   소속사     7026 non-null   object
 9   가사      7233 non-null   object
dtypes: int64(1), object(9)
memory usage: 565.4+ KB

In [10]:
train_data.shape # 7235개 곡, 10개 속성

(7235, 10)

In [11]:
train_data.columns

Index(['년도', '가수', '제목', '성별', '장르', '최고순위', '작사', '작곡', '소속사', '가사'], dtype='object')

In [12]:
train_data['소속사'].describe()

count            7026
unique            251
top       (주)SM엔터테인먼트
freq              716
Name: 소속사, dtype: object

In [13]:
# 각 attribute에 따른 N/A값의 수
for attribute in train_data.columns:
    print(train_data[attribute].isnull().sum())

0
0
0
0
0
0
41
52
209
2